:root {
  --primary-color: hsl(0, 0%, 100%);
  --secondary-color: hsl(0, 0%, 0%);
  --accent-color: hsl(0, 0%, 85%);
  --FontTitle: Alata, sans-serif;
  --FontBody: Josefin Sans, sans-serif;
  --Weight300: 300;
  --Weight400: 400;
  --FontSize: 0.9rem;
}
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
}
.header__container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: auto;
  z-index: -2;
}
.header__container::before {
  content: "";
  background-color: #000;
  opacity: 0.3;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  z-index: -1;
}
.header__container .header__hero {
  display: block;
  position: relative;
  width: 100%;
  height: 100%;
  object-fit: contain;
  z-index: -3;
}
h1,
h2,
h3,
h4 {
  font-family: var(--FontTitle);
  font-weight: var(--Weight300);
  text-transform: uppercase;
}
