:root {
  --primary-color: hsl(0, 0%, 100%);
  --secondary-color: hsl(0, 0%, 0%);
  --accent-color: hsl(0, 0%, 85%);
  --FontTitle: Josefin Sans, sans-serif;
  --FontBody: Alata, sans-serif;
  --Weight300: 300;
  --Weight400: 400;
  --FontSize: 0.9rem;
}
a {
  font-family: var(--FontBody);
  font-weight: var(--Weight300);
  font-size: var(--FontSize);
}
h1,
h2,
h3,
h4 {
  font-family: var(--FontTitle);
  text-transform: uppercase;
}
h1 {
  color: var(--primary-color);
  font-weight: var(--Weight300);
  font-size: clamp(2.5rem, 7vw, 6rem);
}
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100vh;
  overflow-x: hidden;
}
header {
  height: 100vh;
}
.header-container {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.header__hero {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -2;
}
.header__container::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #000;
  opacity: 0.3;
  z-index: -1;
}
.header__menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-block-start: 2rem;
  padding-inline: calc(15% - 2rem);
}
.header__menu nav ul {
  display: flex;
  gap: 2rem;
  list-style: none;
}
.header__menu nav ul li a {
  text-decoration: none;
  color: var(--primary-color);
}
.header__title {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 4px solid var(--primary-color);
  padding: 2rem;
}
@media (min-width: 47.5em) {
  .header__title {
    width: 27rem;
  }
}
@media (min-width: 64em) {
  .header__title {
    width: 48rem;
    left: min(40%, 40rem);
  }
}
main {
  margin-block-start: 100vh;
}
.mobile__btn {
  display: block;
}
@media (min-width: 64em) {
  .mobile__btn {
    display: none;
  }
}
.header__nav {
  display: none;
}
@media (min-width: 64em) {
  .header__nav {
    display: block;
  }
}
.inactive {
  display: none;
}
