/* global styles */
@use "variables" as v;

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100vh;
    overflow-x: hidden;
}

header {
  height: 100vh;
}

.header-container {
  position: relative; 
  width: 100%;
  height: 100%;
  overflow: hidden; 
}

.header__hero {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover; 
  z-index: -2;
}

.header__container::before {
  
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: v.$secondary-color;
  opacity: 0.3;
  z-index: -1; 
}




