/* non reusable modules (main, footer, etc) */
@use "variables" as v;


.header__menu{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-block-start: clamp(2rem, 8vh, 7rem);

& nav ul{
    display: flex;
    gap: 2rem;
    list-style: none;

    & li a{
        text-decoration: none;
        color: var(--primary-color);
        position: relative;
    }
    & li a::after{
         content: ""; 
         position: absolute;
         top: 150%;
         left: 25%;
         width: 50%; 
         height: 3px;
         background-color: var(--primary-color);
         transform: scaleX(0);
         transform-origin: bottom center;
         transition: transform 0.3s ease-out;
    }
    & li a:hover::after{
        transform: scaleX(1);
    }
}
}

.header__contTitle{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    @include v.responsive(desktop) {
        justify-content: flex-start;
    }
}

.header__title{
    border: 4px solid var(--primary-color);
    padding: 2rem;
    @include v.responsive(tablet) {
        width: 27rem;
    }
    @include v.responsive(desktop) {
        width: 45rem;
    }
} 

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: min(27%, 10rem) 2rem;
    @include v.responsive(desktop) {
        padding-inline: min(11%, 10rem);
    }
}

