/* non reusable modules (main, footer, etc) */
@use "variables" as v;

 .mobile{
  width: 0;
  position: fixed;
  height: 100%;
  top: 0;
  left: 0;
  background-color: var(--secondary-color);
  overflow-x: hidden;
  transition: 0.5s;
  padding-block-start: 11rem;
  z-index: 5;

    & a {
        padding: 0.9rem 1.5rem;
        text-decoration: none;
        font-size: min(5vw, 1.5rem);
        color: var(--Very-dark-blue);
        font-weight: var(--font-weight-bold);
        display: block;
        transition: 0.3s;
        }

    & nav {
        position: absolute;
        top: 7rem;
        }
        
    & .open {
        width: min(65%, 30rem);
        }
    }


.header__menu{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-block-start: clamp(2rem, 8vh, 7rem);

@include v.responsive(desktop) {

& nav ul{
    display: flex;
    gap: 2rem;
    list-style: none;

    & li a{
        text-decoration: none;
        color: var(--primary-color);
        position: relative;
    }
    & li a::after{
         content: ""; 
         position: absolute;
         top: 150%;
         left: 25%;
         width: 50%; 
         height: 3px;
         background-color: var(--primary-color);
         transform: scaleX(0);
         transform-origin: bottom center;
         transition: transform 0.3s ease-out;
    }
    & li a:hover::after{
        transform: scaleX(1);
    }
}
}

}


.header__contTitle{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    @include v.responsive(desktop) {
        justify-content: flex-start;
    }
}

.header__title{
    border: 4px solid var(--primary-color);
    padding: 2rem;
    @include v.responsive(tablet) {
        width: 27rem;
    }
    @include v.responsive(desktop) {
        width: 45rem;
    }
} 

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: min(27%, 10rem) 2rem;
    @include v.responsive(desktop) {
        padding-inline: min(11%, 10rem);
    }
}

footer{
    display: flex;
    flex-direction: column;
    background-color: var(--secondary-color);
    justify-content: space-between;
    align-items: center;
    text-align: center;
    gap: 2rem;
    padding: min(21%, 3.5rem) 2rem;
     & p{
        margin-block-start: -0.5rem;
        color: var(--terciary-color);
    }
    & .attribution{
        color: var(--terciary-color);
        a{
            color: var(--accent-color);
        }
    }
    @include v.responsive(tablet) {
       display: grid;
       grid-template-columns: 1fr 1fr;
       grid-template-rows: repeat(3, auto);
       gap: 2rem;
       .footer__logo{
        grid-area: 1 / 1 / 1 / 1;
       }
       .footer__nav{
        grid-area: 2 / 1 / 2 / 1;
       }
       .footer__social{
        grid-area: 1 / 2 / 1 / 2;
        justify-self: end;
       }
       .footer__copyright{
        grid-area: 2 / 2 / 2 / 2;
        justify-self: end;
       }
       .attribution{
        grid-area: 3 / 1 / span 2 / 3;
       }
    }
    @include v.responsive(desktop) {
        padding-inline: min(11%, 10rem);
    }
}

.footer__nav{
     & a{
        text-decoration: none;
        color: var(--accent-color);
        line-height: 2rem;
    }
    & ul{
        list-style: none;
        @include v.responsive(tablet) {
         display: flex;
         flex-direction: row;
         gap: 1rem;   
        }
    }
    
    & li a{
        text-decoration: none;
        color: var(--primary-color);
        position: relative;
    }
    & li a::after{
         content: ""; 
         position: absolute;
         top: 150%;
         left: 25%;
         width: 50%; 
         height: 3px;
         background-color: var(--primary-color);
         transform: scaleX(0);
         transform-origin: bottom center;
         transition: transform 0.3s ease-out;
    }
    & li a:hover::after{
        transform: scaleX(1);
    }
}

.footer__social{
    display: flex;
    gap: 1.3rem;
    & a{
        text-decoration: none;
        color: var(--primary-color);
        position: relative;
    }
    & a::after{
         content: ""; 
         position: absolute;
         top: 150%;
         left: 0%;
         width: 100%; 
         height: 3px;
         background-color: var(--primary-color);
         transform: scaleX(0);
         transform-origin: bottom center;
         transition: transform 0.3s ease-out;
    }
    & a:hover::after{
        transform: scaleX(1);
    }
}