/* non reusable modules (main, footer, etc) */

.header__menu{
    padding: 2rem 4rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


main {
    margin-block-start: 90vh;
}