/* reusable modules (nav, button, etc) */
@use "variables" as v;

.mobile__btn {
  display: block; 
  background: none;
  border: none;
  @include v.responsive(desktop) {
    display: none;
  }
}

.header__logo {
  z-index: 10;
}

.header__nav { 
    display: none;
    position: fixed;
    height: 100%;
    top: 0;
    left: 0;
    width: 0; 
    background-color: var(--secondary-color);
    overflow-x: hidden;
    transition: width 0.5s ease-in-out; 
    
    z-index: 5;

    & ul {
        list-style: none;
        padding-block-start: 60%;
        padding-inline-start: 10%;

      & a {
        padding: 0.7rem;
        text-decoration: none;
        color: var(--primary-color);
        display: block;
        transition: 0.3s;
        font-family: var(--FontTitle);
        font-weight: var(--Weight300);
        font-size: clamp(1.7rem, 2.5vw, 3.5rem);
        text-transform: uppercase;
      }

    }


    @include v.responsive(desktop) {
        display: block; 
        position: static; 
        width: auto; 
        height: auto; 
        padding: 0; 
        background-color: transparent; 
        z-index: auto;
        overflow: visible;

        & ul {
            display: flex; 
            gap: 2rem;
            list-style: none;
            padding: 0;
            & li a{
             padding: 0;
             text-decoration: none;
             color: var(--primary-color);
             position: relative;
             font-family: var(--FontBody);
             font-weight: var(--Weight300);
             font-size: var(--FontSize);
             text-transform: capitalize;
            }
    & li a::after{
         content: ""; 
         position: absolute;
         top: 150%;
         left: 25%;
         width: 50%; 
         height: 3px;
         background-color: var(--primary-color);
         transform: scaleX(0);
         transform-origin: bottom center;
         transition: transform 0.3s ease-out;
    }
    & li a:hover::after{
        transform: scaleX(1);
    }
        }
    }
}

.open {
  width: 100%; 
  display: block;
}

.inactive {
  display: none;
}

.mobile__close {
    position: relative;
    z-index: 10;
}




.main__img{
  display: block;
  width: 100%;
  height: 100%;
  object-fit: contain;
}


.main__intro{
  @include v.responsive(desktop){
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 0.5fr 1fr 1fr;
  grid-template-rows: repeat(4, 1fr);
  }
}


.main__imgCont{
 @include v.responsive(desktop) {
  width: 60%; 
  grid-area: 1 / 1 / span 4 / span 5;
 }
}

.main__text{
  text-align: center;
  padding-block-start: 3rem;
  background-color: var(--primary-color);
  @include v.responsive(desktop) {
    grid-area: 2 / 3 / span 3 / span 5;
    padding-inline-start: min(10vw, 9.8rem);
    display: flex;
    flex-direction: column;
    align-self: self-end;
    justify-content: flex-end;
    text-align: left;
    height: 90%;
    width: 100%;
  }
}

.main__creations{
  display: grid;
  align-items: center;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(3, auto);
  row-gap: 2rem;
  margin-block-start: 25%;
  & h3{
    grid-area: 1 / 1 / 1 / 1;
    justify-self: center;
  }
  @include v.responsive(tablet) {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(2, auto);
    row-gap: clamp(2rem, 4vw, 3.7rem);
    margin-block-start: 18%;
    & h3{
      grid-area: 1 / 1 / 1 / 1;
      justify-self: start;
    }
  }

}

.main__btn{
  grid-area: 3 / 1 / 3 / 1;
  width: clamp(8rem, 13vw, 10rem);
  justify-self: center;
  background-color: transparent;
  border: 1px solid var(--secondary-color);
  padding: 0.5rem 1.7rem;
  /* margin-block-start: 1.8rem; */
  @include v.responsive(tablet) {
    grid-area: 1 / 2 / 1 / 2;
    justify-self: end;
    /* margin-block-start: 0; */
  }
}

.main__btn:hover{
  background-color: var(--secondary-color);
  color: var(--primary-color);
  cursor: pointer;
}

.main__grid{
  grid-area: 2 / 1 / 2 / 1;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  @include v.responsive(tablet) {
    grid-area: 2 / 1 / 2 / span 2;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 1.5rem;
  }
}

.main__item{
  position: relative;
  width: auto;
  height: auto;
  overflow: hidden;
}

.main__item::before{
  content: "";
  position: absolute;
  background: linear-gradient( to left,rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.767));
  width: 100%;
  height: 100%;
  @include v.responsive(tablet) {
      background: linear-gradient( to bottom,rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.767));
  }
}

.main__item:hover::before{
  content: "";
  background: var(--primary-color);
  opacity: 0.7;
  cursor: pointer;
  transition: ease-in 0.3s;
}

.main__item:hover h4{
  color: var(--secondary-color);
  font-weight: 370;
  cursor: pointer;
  transition: ease-in 0.1s;
}

.main__pic{
   display: block;
   width: 100%;
   height: 100%;
   object-fit: cover;
   z-index: -3;
}

h4{
  position: absolute;
  bottom: 0;
  left: 0;
  text-align: left;
  padding: clamp(1.2rem, 2vw, 2rem);
  z-index: 1;
}




