/* reusable modules (nav, button, etc) */
@use "variables" as v;

.mobile__btn {
  display: block; 
  background: none;
  border: none;
  @include v.responsive(desktop) {
    display: none;
  }
}

.header__nav {
  display: none;
  @include v.responsive(desktop) {
    display: block;
  }
}

.inactive {
  display: none;
}

.main__img{
  display: block;
  justify-content: center;
  align-items: flex-start;
  width: 100%;
  height: 100%;
  object-fit: contain;
  @include v.responsive(desktop) {
   width: 60%;
  }
}


