/* reusable modules (nav, button, etc) */
@use "variables" as v;

.mobile__btn {
  display: block; 
  background: none;
  border: none;
  @include v.responsive(desktop) {
    display: none;
  }
}

.header__nav {
  display: none;
  @include v.responsive(desktop) {
    display: block;
  }
}

.inactive {
  display: none;
}

.main__img{
  display: block;
  width: 100%;
  height: 100%;
  object-fit: contain;
}


.main__intro{
  @include v.responsive(desktop){
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 0.5fr 1fr 1fr;
  grid-template-rows: repeat(4, 1fr);
  }
}


.main__imgCont{
 @include v.responsive(desktop) {
  width: 60%; 
  grid-area: 1 / 1 / span 4 / span 5;
 }
}

.main__text{
  text-align: center;
  padding-block-start: 3rem;
  background-color: var(--primary-color);
  @include v.responsive(desktop) {
    grid-area: 2 / 3 / span 3 / span 5;
    padding-inline-start: min(10vw, 9.8rem);
    display: flex;
    flex-direction: column;
    align-self: self-end;
    justify-content: flex-end;
    text-align: left;
    height: 90%;
    width: 100%;
  }
}

.main__creations{
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(3, 1fr);
}
