@use "variables" as v;

a:not(.header__nav a){
    font-family: var(--FontBody);
    font-weight: var(--Weight300);
    font-size: var(--FontSize);
}

h1, h2, h3, h4{
   font-family: var(--FontTitle);
   text-transform: uppercase;
}


h1{
    color: var(--primary-color);
    font-weight: var(--Weight300);
    font-size: clamp(2.5rem, 7vw, 5rem);
    text-wrap: wrap;
}

h2{
    color: var(--secondary-color);
    font-weight: var(--Weight300);
    font-size: clamp(1.9rem, 3vw, 2.9rem);
    padding-block-end: min(1vh, 2rem);
    @include v.responsive(desktop) {
      font-size: clamp(2.5rem, 3.2vw, 4rem);
    }
}

.main__text p{
    color: var(--terciary-color);
    font-family: var(--FontBody);
    font-weight: var(--Weight300);
    font-size: var(--FontSize);
    margin-block-start: 1rem;
    @include v.responsive(desktop) {
      font-size: clamp(var(--FontSize), 1.15vw, 2rem);
    }
}

h3{
    color: var(--secondary-color);
    font-weight: var(--Weight300);
    font-size: clamp(1.7rem, 2.7vw, 2.4rem);
}

h4{
    color: var(--primary-color);
    font-weight: var(--Weight300);
    font-size: clamp(1.3rem, 2.5vw, 2rem);
    z-index: 2;
}

.main__btn{
    color: var(--secondary-color);
    font-family: var(--FontBody);
    font-weight: var(--Weight400);
    text-transform: uppercase;
    letter-spacing: 0.2rem;
    font-size: clamp(0.8rem, 1vw, 0.9rem);
}

footer{
    font-family: var(--FontBody);
    font-weight: var(--Weight300);
    font-size: var(--FontSize);
    & .attribution, a{
    font-size: 0.75rem;
}
}

