

a{
    font-family: var(--FontBody);
    font-weight: var(--Weight300);
    font-size: var(--FontSize);
}

h1, h2, h3, h4{
   font-family: var(--FontTitle);
   text-transform: uppercase;
}


h1{
    color: var(--primary-color);
    font-weight: var(--Weight300);
    font-size: clamp(2.5rem, 7vw, 6rem);
}