/* variables */

$primary-color:  hsl(0, 0%, 100%);
$secondary-color:  hsl(0, 0%, 0%);
$accent-color:  hsl(0, 0%, 85%);
$FontAlata: 'Alata', sans-serif;
$FontJosefin: 'Josefin Sans', sans-serif;
$Weight300: 300;
$Weight400: 400;
$FontSize: 0.9rem;

:root{
--primary-color: #{$primary-color};
--secondary-color: #{$secondary-color};
--accent-color: #{$accent-color};
--FontTitle: #{$FontJosefin};
--FontBody: #{$FontAlata};
--Weight300: #{$Weight300};
--Weight400: #{$Weight400};
--FontSize: #{$FontSize};
}

//media queries
$breakpoints: (mobile: 23.125em, tablet: 47.5em, desktop: 64em);

@mixin responsive($size) {
  @media (min-width: map-get($breakpoints, $size)) {
    @content;
  }
}

